$primary: #1785c6;
$primaryLight: #bfe7ff;
$blackDarker: #081836;
$blackDark: #0c1834;
$blackLight: #6d7485;
$blackLighter: rgba($blackDark, 0.4);
$white: #ffffff;
$whiteLight: #e7f0f9;
$whiteLighter: #f6f8fd;
